#memberShip {
    background-image: url('https://images.unsplash.com/photo-1517824806704-9040b037703b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    z-index: 2;

    .container {
        padding: 200px 0 150px 0;
        max-width: 1000px;

        .headText {
            text-align: center;
            background-color: #FFFFFF;
            padding-top: 60px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            h4 {
                margin-top: 15px;
                color: rgb(98, 97, 97);

                a {
                    color: black;
                }
            }
        }

        .handleReading {
            background-color: #24a64a;
            color: white;
            border: none;
            padding: 8px 20px;
            font-size: 14px;
            font-weight: 600;
            margin-top: 30px;
            cursor: pointer;
            border-radius: 5px;
        }

        .buttons {
            display: flex;
            gap: 15px;
            align-items: center;
            margin-top: 20px;

            button {
                border: none;
                cursor: pointer;
                padding: 8px 20px;
                color: #24a64a;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                border-radius: 5px;

                &.success {
                    color: white;
                    background-color: #009c48;
                }
            }
        }
    }
}