#memberShip {
    background-image: url('https://images.unsplash.com/photo-1517824806704-9040b037703b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    z-index: 2;

    .container {
        padding: 200px 0 150px 0;
        max-width: 1000px;

        .headText {
            text-align: center;
            background-color: #FFFFFF;
            padding: 60px 10px 0 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin: 0 20px;

            h4 {
                margin-top: 15px;
                color: rgb(98, 97, 97);

                a {
                    color: black;
                }
            }
        }

        .handleReading {
            background-color: #24a64a;
            color: white;
            border: none;
            padding: 8px 20px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            border-radius: 5px;
            margin: 30px 20px 0 20px;
        }

        .buttons {
            display: flex;
            gap: 15px;
            align-items: center;
            margin-top: 20px;

            button {
                border: none;
                cursor: pointer;
                padding: 8px 20px;
                color: #24a64a;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                border-radius: 5px;
                margin: 0 20px;

                @media only screen and (max-width: 500px) {
                    margin: 0 10px;
                }
            }
        }

        @media only screen and (max-width: 700px) {
            padding: 150px 0 150px 0;

            .headText {
                h4 {
                    font-size: 13px;
                }

                h1 {
                    font-size: 22px;
                    padding: 0 10px;
                }
            }

            .handleReading {
                font-size: 13px;
            }
        }

        @media only screen and (max-width: 500px) {
            padding: 140px 0 120px 0;

            .headText {
                margin: 0 10px;
                padding: 40px 10px 0 10px;

                h4 {

                    a {
                        display: block;
                    }
                }

                h1 {
                    font-size: 18px;
                }
            }
        }
    }
}