#contactUs {
    .container {
        .head {
            padding: 150px 0 50px 0;
            text-align: center;


            h2 {
                font-weight: 400;
                font-size: 17px;
                line-height: 22px;
                color: #39b54a;
            }

            h1 {
                font-weight: 400;
                font-size: 52px;
                color: #000000;
                line-height: 62px;
                max-width: 1000px;
                margin: 0 auto;
                padding-top: 10px;
                color: #fff;
            }
        }

        .contactComponent {

            .left {
                width: 48%;

                form {
                    fieldset {
                        display: flex;
                        flex-direction: column;
                        background-color: #000000;
                    }
                }
            }
        }
    }
}