#carousel {
  img {
    height: 95vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
  }

  .carouselContent {
    position: absolute;
    bottom: 15%;
    padding: 5px 20px;
    margin-left: 100px;
    max-width: 900px;

    h1 {
      margin-top: 20px;
      font-size: 45px;
      color: #fff;
      width: 80%;
      font-size: 700;
      line-height: 1.5;
      letter-spacing: 3px;
    }

    p {
      &.headText {
        color: rgb(175, 175, 175);
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    .carouselContent {
      bottom: 20%;

      h1 {
        font-size: 40px;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .carouselContent {
      margin-left: 40px;
    }
  }

  @media only screen and (max-width: 850px) {
    .carouselContent {
      margin-left: 10px;
      bottom: 25%;

      h1 {
        font-size: 32px;
      }
    }
  }

  @media only screen and (max-width: 760px) {
    .carouselContent {
      bottom: 28%;

      h1 {
        font-size: 28px;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    img {
      height: 90vh;
    }

    .carouselContent {
      bottom: 28%;

      h1 {
        font-size: 25px;
        max-width: 55%;
      }
    }
  }

  @media only screen and (max-width: 500px) {

    .carouselContent {
      bottom: 20%;

      h1 {
        font-size: 20px;
        max-width: 40%;
      }

      .headText {
        font-size: 18px !important;
      }
    }
  }
}