#carousel {

  img {
    height: 75vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
  }

  .carouselContent {
    font-family: "Mulish", sans-serif;
    position: absolute;
    bottom: 80px;
    background-color: #1876c9;
    border-radius: 6px;
    text-align: center;
    padding: 5px 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-left: 100px;
    max-width: 900px;
  }

  @media only screen and (max-width: 1080px) {
    .carouselContent {
      margin-left: 30px;
    }
  }

  @media only screen and (max-width: 1000px) {
    img {
      height: 600px;
    }

    .carouselContent {
      font-size: 25px;
    }
  }

  @media only screen and (max-width: 825px) {
    img {
      height: 550px;
    }

    .carouselContent {
      font-size: 22px;
    }
  }

  @media only screen and (max-width: 715px) {
    .carouselContent {
      max-width: 500px;
    }
  }

  @media only screen and (max-width: 550px) {
    img {
      height: 450px;
    }

    .carouselContent {
      max-width: 280px;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 380px) {
    img {
      height: 400px;
    }
  }
}