#imageGallery {
  margin-top: -250px;

  .grid-container {
    columns: 2 200px;
    width: fit-content;
    margin: 60px 15px 150px 0;

    .grid-content {
      position: relative;
      display: block;
      width: fit-content;
      overflow: hidden;

      img {
        transition: all 0.5s;
        display: block;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;

        p {
          margin: 0;
        }

        .text {
          position: absolute;
          bottom: 20px;
          left: 20px;
          font-size: 22px;
        }

        .link {
          position: absolute;
          top: 20px;
          left: 20px;
          font-size: 40px;
          border: 1px solid white;
          border-radius: 50%;
          padding: 10px;
          transition: all 0.5s;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }

      &:hover {
        img {
          -webkit-filter: brightness(.3);
          filter: brightness(.3);
          transform: scale(1.1);
        }

        .overlay {
          opacity: 1;
        }
      }
    }
  }
}