#memberShip {
    .sponsorAboutText {
        background-color: white;
        text-align: center;
        padding: 60px 35px 0 35px;
        margin: 0 20px 0 20px;

        @media only screen and (max-width: 800px) {
            font-size: 14px;
        }

        @media only screen and (max-width: 500px) {
            margin: 0 10px 0 10px;
        }
    }
}