#homePage {
  overflow: hidden;

  #section1 {
    width: 100%;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 110%;

      // .buttons {
      //   display: flex;
      //   gap: 25px;
      //   margin-top: 110px;

      //   a {
      //     text-decoration: none;
      //     color: #FFFFFF;
      //     padding: 15px 35px;
      //     border: 1px solid white;
      //     text-align: center;
      //     transition: all 0.5s;

      //     &:hover {
      //       background-color: #FFFFFF;
      //       color: black;
      //     }
      //   }
      // }
    }

    .socialMediaIcons {
      position: absolute;
      right: 50px;
      top: 38%;
      display: flex;
      flex-direction: column;
      gap: 25px;

      @media only screen and (max-width: 600px) {
        display: none;
      }

      a {
        text-align: center;
        line-height: calc(35px - 4px);
        width: 33px;
        height: 33px;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        position: relative;

        p {
          color: #39b54a;
          position: absolute;
          right: 40px;
          top: 2px;
          font-size: 16px;
          opacity: 0;
          transform: scale(0);
          transform-origin: 100% 50%;
          transition: opacity 0.5s ease, transform 0.5s ease;
        }

        &:hover p {
          opacity: 1;
          transform: scale(1);
        }

        .icons {
          padding-top: 2px;
          color: #FFFFFF;

        }
      }
    }

    @media only screen and (max-width: 1240px) {
      .container {
        padding: 10px;
      }
    }

    @media only screen and (max-width: 900px) {
      .container {
        h1 {
          font-size: 40px !important;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      .container {
        h1 {
          font-size: 30px !important;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      .container {
        h1 {
          width: 100% !important;
        }
      }
    }

    @media only screen and (max-width: 500px) {
      height: 110vh;

      .container {
        h1 {
          font-size: 25px !important;
        }
      }
    }

    @media only screen and (max-width: 460px) {
      .container {
        padding-top: 50px;

        h1 {
          font-size: 20px !important;
        }

        .buttons {
          margin-top: 50px;
          flex-direction: column;
        }
      }
    }
  }

  #section2 {
    background-color: #24a64a;
    padding: 100px 0;

    .container {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      h1 {
        font-size:  60px;
        line-height: 97.5px;
        color: white;
      }

      p {
        font-weight: 400;
        font-size: 17px;
        color: #000000;
        line-height: 22px;

        &.description {
          max-width: 850px;
          margin: 0 auto;
          color: #010507;
          line-height: 42px;
          margin-top: 50px;
        }
      }

      .counts {
        display: flex;
        justify-content: center;
        gap: 70px;
        margin-top: 100px;

        p {
          font-size: 17px;
          line-height: 23px;
        }

        .count {
          padding: 20px 0;

          h2 {
            font-size: 84px;
            color: #FFFFFF;
            width: 220px;
            line-height: 84px;
          }

          p {
            font-size: 18px;
            color: #000000;
            line-height: 24px;
          }
        }
      }
    }

    @media only screen and (max-width: 1300px) {
      .container {
        .counts {
          flex-wrap: wrap;
        }
      }
    }

    @media only screen and (max-width: 900px) {
      .container {
        padding: 0 10px;

        h1 {
          font-size: 65px;
        }

        p {
          font-size: 16px;
        }

        .counts {
          margin-top: 10px;

          hr {
            display: none;
          }

          .count {

            h2 {
              font-size: 60px !important;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 700px) {
      padding: 60px 0;

      .container {
        h1 {
          font-size: 50px;
        }

        p {
          font-size: 14px;

          &.description {
            margin-top: 10px;
          }
        }
      }
    }

    @media only screen and (max-width: 530px) {
      .container {
        h1 {
          font-size: 40px ;
        }

        p{
          &.description {
            max-width: 850px;
            margin: 0 auto;
            color: #010507;
            line-height: 20px;
          
          }
        }

        .description {
          margin-top: 0px !important;
        }

        .counts {

          .count {

            h2 {
              width: fit-content;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 425px) {
      .container {

        h1 {
          font-size: 38px;
          line-height: 45px;
          color: white;
          margin-bottom: 20px;
        }
  
        p {
          font-weight: 400;
          font-size: 14px;
          color: #000000;
          // line-height: 22px;
  
          &.description {
            max-width: 850px;
            margin: 0 auto;
            color: #010507;
            line-height: 20px;
          
          }
        }

        .counts {
          flex-direction: column;

          .count {
            text-align: center;


            h2 {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #section3 {
    padding: 100px 0;

    .container {

      .head {
        text-align: center;

        h2 {
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          color: #24a64a;
        }

        h1 {
          font-weight: 400;
          font-size: 52px;
          color: #000000;
          line-height: 62px;
          max-width: 1000px;
          margin: 0 auto;
          padding-top: 30px;
        }
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 70px;
        justify-content: center;

        .card {
          width: 46%;
          display: flex;
          align-items: flex-start;
          gap: 20px;

          .icon {
            color: #24a64a;
            font-size: 50px;
          }

          .cardHead {
            h2 {
              font-size: 30px;
              color: #000000;
              line-height: 39px;
            }

            p {
              font-size: 17px;
              color: #757575;
              line-height: 30px;
              margin-top: 15px;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 900px) {
      .container {
        padding: 0 10px;

        .cards {
          .card {
            width: 45%;

            .icon {
              font-size: 35px;
            }

            .cardHead {
              h2 {
                font-size: 20px;
              }

              p {
                font-size: 15px;
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 670px) {
      .container {
        .head {
          h1 {
            font-size: 40px;
          }
        }

        .cards {
          flex-direction: column;

          .card {
            width: 100%;
          }
        }
      }
    }

    @media only screen and (max-width: 500px) {
      padding: 60px 0;

      .container {
        .head {
          h1 {
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
    }
  }

  #section4 {
    padding-bottom: 50px;
    overflow: hidden;

    .head {
      padding: 150px 0 300px 0;
      text-align: center;
      background-color: #111111;


      h2 {
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: #39b54a;
      }

      h1 {
        font-weight: 400;
        font-size: 52px;
        color: #000000;
        line-height: 62px;
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 30px;
        color: #fff;
      }
    }
  }

  #section5 {
    background-image: linear-gradient(rgba(21, 21, 21, 0.6), rgba(21, 21, 21, 0.6)), url("../../assets/contact-bg.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;

    hr {
      width: 200px;
      height: 3px;
      border: none;
      border-radius: 10px;
      background-color: #39b54a;
      transform: rotate(270deg);
      margin: 20px auto;
    }

    .container {
      .head {
        padding: 120px 0 50px 0;
        text-align: center;

        h2 {
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          color: #39b54a;
        }

        h1 {
          font-weight: 400;
          font-size: 52px;
          color: #000000;
          line-height: 62px;
          max-width: 1000px;
          margin: 0 auto;
          padding-top: 30px;
          color: #fff;
        }
      }
    }
  }
}