#memberShipAbout {
    background-color: #FFFFFF;
    padding: 45px 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: justify;
    margin: 0 20px;

    @media only screen and (max-width: 700px) {
        padding: 40px 20px;

        p {
            font-size: 13px;
        }
    }

    @media only screen and (max-width: 500px) {
        margin: 0 10px;
    }
}